<template>
  <form class='ion-padding' @submit.prevent='submitForm'>
    <ion-list>
      <ion-item>
        <ion-label position='floating'>Titel</ion-label>
        <ion-input type='text' required v-model='enteredTitle' />
      </ion-item>
      <ion-item>
        <ion-thumbnail slot='start'>
          <ion-img :src='takenImageUrl' />
        </ion-thumbnail>
        <ion-button type='button' fill='clear' @click='takePhoto'>
          <ion-icon slot='start' :icon='camera'></ion-icon>
          Foto aufnehmen
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label position='floating'>Beschreibung</ion-label>
        <ion-textarea rows='5' v-model='enteredDescription'></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button type='submit' expand='block' fill='outline'>Speichern</ion-button>
  </form>  
</template>

<script>
import { IonButton, IonList, IonItem, IonLabel, IonInput, IonTextarea, IonThumbnail, IonImg, IonIcon } from '@ionic/vue'
import { camera } from 'ionicons/icons';
import { Plugins, CameraResultType, CameraSource } from '@capacitor/core'

const { Camera } = Plugins;
export default {
  emits: ['save-memory'],
  components: {
    IonButton,
    IonList,
    IonItem,
    IonLabel,
    IonInput,
    IonTextarea,
    IonThumbnail,
    IonImg,
    IonIcon
  },
  data() {
    return {
      enteredTitle: '',
      enteredDescription: '',
      takenImageUrl: null,      
      camera
    };
  },
  methods: {
    async takePhoto() {
      const photo = await Camera.getPhoto({
        resultType: CameraResultType.Uri,
        source: CameraSource.Camera,
        quality: 60
      });

      this.takenImageUrl = photo.webPath;
    },
    submitForm() {
      const memoryData = {
        title: this.enteredTitle,
        imageUrl: this.takenImageUrl,
        description: this.enteredDescription
      };
      this.$emit('save-memory', memoryData);
    }
  }
}
</script>